---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-php-app
spec:
  type: {{ .Values.app.service.type }}  # Use service type from values.yaml
  ports:
    - port: {{ .Values.app.service.port }}  # Port exposed internally in the cluster
      targetPort: {{ .Values.app.service.port }}  # Port on the container
      nodePort: {{ .Values.app.service.nodePort }}  # Node port from values.yaml
  selector:
    app: php-app



---

apiVersion: v1
kind: Service
metadata:
  name: db
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: 5432
  selector:
    app: postgres
